* {
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

/*"W" logo*/

#logo {
	width: 200px;
	border-radius: 6px;
	position: fixed;
	top: 8px;
	z-index: 100;
}

/*Navigation pane to the left*/

nav {
	width: 200px;
	height: 100%;
	border: 2px solid #8090bc;
	background-color: #f7f9ff;
	position: fixed;
	top: 216px;
	border-radius: 6px;
}

/*Link styling*/

a:link {
	text-decoration: none;
}

a:visited {
	color: #2a5696;
}

a:hover {
	color: #d6a319;
}

/*Main content positioning*/

main {
	position: absolute;
	top: -8px;
	left: 232px;
	height: 2500px;
}

/*Headings in navigation pane and main content (color, indent)*/

h3 {
	background-color: #2a5696;
	color: #f7f9ff;
	padding-left: 6px;
	border-radius: 6px;
}

/*Headings in main contnent (width)*/

main h3 {
	width: 824px;
}

/*Code formatting*/

strong {
	font-family: monospace;
	font-weight: 700px;
	background-color: #2a5696;
	color: #f7f9ff;
}

/*Table (borders, margins)*/

table {
	background-color: #f7f9ff;
	border: 2px solid #8090bc;
	border-radius: 6px;
	margin-left: 12px;
}

/*Borders within the tables*/

.element,
td {
	border-top: 2px solid #8090bc;
}

/*Table column widths (property & value, description)*/

.property_value {
	width: 200px;
}

.description {
	width: 600px;
}
